.nav-mobile {
    background-color: var(--color-yellow);
    color: var(--color-red);
    padding: 1rem;
    display: flex;
    gap: 3rem;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    height: 60vh;
    position: absolute;
}

.nav-mobile-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}